details#materialDetails div {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: start;
}
details#materialDetails div .headerMat {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 2em;
  column-gap: 2em;
  grid-area: 1/1/2/2;
  margin: 0;
}
details#materialDetails div .descMat {
  grid-column: span 2;
  text-align: end;
  font-style: italic;
}
details#materialDetails div .detMat {
  grid-area: 1/2/3/3;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
details#materialDetails div .detMat b {
  text-align: end;
  padding: 0em 0.5em 0em 1.5em;
}

div:has(> .headerMat) {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
  align-items: center;
}
div:has(> .headerMat) > p {
  margin: 0;
  width: 35%;
  text-align: left;
  font-size: 0.75em;
}

#addQtyDetails #addedQtyList {
  display: flex;
  flex-direction: column;
}
#addQtyDetails #addedQtyList input {
  margin: auto 0.5ch;
}
#addQtyDetails #addedQtyList span {
  display: flex;
  align-items: stretch;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  margin: 0.1em 0;
  padding: 0.2em;
}
#addQtyDetails #addedQtyList span:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1019607843);
}
#addQtyDetails #addedQtyList span .cancelX {
  margin-left: 1em;
}

input#materialSearch,
input#customerSearch {
  width: 40%;
}

input:-webkit-autofill-selected {
  color: red;
}